.elcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    }
    .cards{
      animation: san 0.5s;
        margin: 50px;
        box-shadow: 0px 5px 10px 0px rgba(59, 58, 58, 0.918);
    }
    .cards:hover{
      animation: ban 0.5s;
      transform: scale(1.1);
        box-shadow: 0px 10px 20px 2px rgba(58, 57, 57, 0.918);
    }

    .eladdmovie{
        
        height: 55px;
        padding-top: 10px;
        padding-left: auto;
        padding-right: auto;
        
      }
      .elcards{
        color: black;
      }
     
      .ecarouselcaption >*{
        color: black;
    

      }
      .ecarouselcaption > h1{
        margin-bottom: 50%;

      }
      @keyframes ban{
        from{
          transform: scale(1);

        }
        to{
          transform: scale(1.1);

        }
      }
      @keyframes san{
        from{
          transform: scale(1.1);

        }
        to{
          transform: scale(1);

        }
      }