.App {
  text-align: center;
  background-color: black;
  
  
}

.elcarousel{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ennavbars,.eladdmovie{

 position: sticky;
 top: 0;
 width: 100%;
 z-index: 2;
 
}
.eladdmovie{
  width: 20%;
 margin-left: auto;
 margin-right: auto;
}